<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>About Me:</p>
    <p>My name is Benjamin Beales</p>
    <p>I am a Software Development student at BYU-Idaho. I am from Eagle Mountain, Utah.</p>
    <p>Hobbies:</p>
        <ul>
            <li>Video Games</li>
            <li>Computer Hardware</li>
            <li>Learning about Rocket Science</li>
        </ul>
        <img src="/images/me.JPG" alt="Picture of Benjamin Beales">
</main>
<%- include('partials/footer') %>