<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content=""width=device-width, initial-scale="1.0">
        <title>ABOUT</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <h1>ABOUT</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/products">Products</a></li>
            </ul>
        </nav>
        <p>About Me:</p>
        <p>My name is Benjamin Beales</p>
        <p>I am a Software Development student at BYU-Idaho. I am from Eagle Mountain, Utah.</p>
        <p>Hobbies:</p>
        <ul>
            <li>Video Games</li>
            <li>Computer Hardware</li>
            <li>Learning about Rocket Science</li>
        </ul>
        <img src="/images/me.JPG" alt="Picture of Benjamin Beales">
    </body>
</html>