<%- include('../partials/header') %>
<main>
    <h1>Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
    <img src="/images/404.jpg" alt="404 Error License Plate">
    <p>Return to the <a href="/">homepage</a> to continue browsing</p>

    <p class="attribution">"<a rel="noopener noreferrer" href="https://www.flickr.com/photos/51625243@N06/51826031430">404 Error</a>" 
        by <a rel="noopener noreferrer" href="https://www.flickr.com/photos/51625243@N06">Gamma Man</a> is licensed under 
        <a rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/2.0/?ref=openverse">CC BY 2.0 
            <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1em; margin-right: 0.125em; display: inline;" />
            <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1em; margin-right: 0.125em; display: inline;" />
        </a>.
    </p>
</main>
<%- include('../partials/footer') %>